body{
	width:100% !important;
	zoom:95%;
	_zoom:65%;
	background-color: #FFF;
}


/*----------------------------------------------------------------------
    TOP -> topFlash
----------------------------------------------------------------------*/

#top .mainVisual h1{
	display:block !important;
}

#top #flaContent{
	display:none;
}


/*----------------------------------------------------------------------
    TOP -> status
----------------------------------------------------------------------*/
/*
#top .status{
display:none;
}
*/

/*----------------------------------------------------------------------
    CONTENTS -> the train line up
----------------------------------------------------------------------*/

#routemaps .lineup dl.wide dd p.pic{
	padding-right:6px;
}

#contents .tourism{
	margin:0;
	padding:0;
}

#contents .tourism dl{
	padding-right:0;
}

/*----------------------------------------------------------------------
routemaps
----------------------------------------------------------------------*/

#spContents{
    display: none !important;
}